<div>

  <h1 class="gradient-text">Quentinha Verde</h1>

  <div class="styleHome">
    
    
    <h2 id="h2Unico">GERENCIAMENTO</h2>




    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile>
        <mat-card class="cardStyle">
          <p><a class="btn btn-primary btn-outline-primary px-4 py-2" routerLink="/client"
              routerLinkActive="active">ÁREA
              DE
              CLIENTES</a></p>
          <br>
          <p><a class="btn btn-primary btn-outline-primary px-4 py-2" routerLink="/product"
              routerLinkActive="active">ÁREA
              DE
              PRODUTOS</a></p>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="cardStyle">
          <p><a class="btn btn-primary btn-outline-primary px-4 py-2" routerLink="/venda"
              routerLinkActive="active">REALIZAR VENDA</a></p>
          <br>
          <p><a class="btn btn-primary btn-outline-primary px-4 py-2" routerLink="/relatorio"
              routerLinkActive="active">RELATÓRIO</a></p>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>



</div>