mat-grid-tile {
    background: transparent;
  }

  .styleGrid {
    margin: 1rem 5rem 1rem 5rem;
    
  }

  .example-card {
    max-width: 400px;
    border-radius: 10px;
    
  }

  img {
    height: 20rem;
  }
  
 