<div>

  <h2 class="gradient-text">Quentinha Verde</h2>


  <div class="content">






    <mat-card class="cardStyle">

      <h2>QUEM SOMOS?</h2>
      <p>O Restaurante Quentinha Verde é uma empresa do ramo alimentício fundada em 2016, com bases familiares
        sólidas passadas por 03 gerações da familia, trabalhando com inovações em nossos serviços e sempre à disposição
        para sugestões de melhorias, em busca da satisfação dos nossos clientes.</p>
      <br><br>
      <h3>Desenvolvedores</h3>
      <p id="unique">Wellintgon de Lima, Rafael do Valle, Vinicius Carvalho, Danilo Kawabata</p>

    </mat-card>
    <br><br>






  </div>
</div>