.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom left, #34170f 30%, #000000 100%);
    color: white;
    font-size: 13px;
    height: 10px;
    display: inline-flex;
  }

  p {
      margin: 0;
  }

  .opa {
      width: 100%;
      text-align: center;
  }